body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.section
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.topnav{
    margin-right: 504px;
    margin-left: 381px;
    margin-top: -6px;
    display: flex;
    flex-wrap: wrap;
}
.topnav a{
	text-decoration: none;
	color: #5F5F5F;
	font-size: 18px;
	font-family: sans-serif;
}
.topnav a:hover{
	color: #1884f0f2;
}
.topnav h4{
	text-decoration: none;
	text-underline-position: none;
	color: #000;
	font-size: 17px;
}
.eig{
	background: #FD6965;
    margin-top: -36px;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
    margin-left: 445px;
    margin-right: 18px;
    align-self: flex-end;
}
h6{
	padding-left: 5px;
    padding-top: 1px;
    font-weight: bold;
}
.cap{
	margin-top: 25px;
    margin-bottom: -26px;
    margin-left: 100px;
}

.sec .btn{
	background: rgba(55,120,255,0.1);
    border-radius: 6px;
    padding: 15px 26px;
    color: #3778ff;
    display: inline-block;
    font-weight: 700;
    transition: 0.2s linear all;
    border: none;
    font-size: 18px;
	font-family: sans-serif;
	cursor: pointer;
	margin-top: -56px;
	margin-left: -16px;

}
.sec .btn:hover{
	background: #1884f04d;
}
.sec .btn i:hover{
	margin-left: 4px;
}
.sec a{
	text-decoration: none;
	color: #000;
	font-size: 18px;
	font-family: sans-serif;
	cursor: pointer;
	margin-left: -40px;
	margin-right: 40px;
    letter-spacing: 0.2px;
}
.sec a:hover{
	color: #1884f0f2;
}
/*End Header section*/

.hero
{
    flex-direction: row;
    flex-wrap: wrap;
}

#set
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main h1
{
    font-family: sans-serif;
    font-size: 33px;
    color: #233650;
    margin: 0;
    font-weight: 600;
    margin-top: 28.5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#set .bg-bubble
{
    overflow: hidden;
    height: 600px;
    position: absolute;
    width: 1000px;
    left: 50%;
    transform: translateX(-50%);
    top: 110px;
    opacity: 0.2;
    z-index: 0;
}

#set .bg-bubble .bubble-1 {
    background-image: linear-gradient(#c4d8fc 0%, #fff 45%);
    width: 1000px;
    height: 1000px;
    top: 0px;
    animation-delay: .6s;
    background-image: linear-gradient(#4788ff78 0%, #fff 45%);
    animation-name: jumbo-intro-bubble;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0.15;
    position: absolute;
    border-radius: 800px;
}
.bg-bubble .bubble-2 {
    width: 800px;
    height: 800px;
    top: 100px;
    margin-left: 100px;
    animation-delay: .5s;
    background-image: linear-gradient(#4788ff 0%, #fff 45%);
    animation-name: jumbo-intro-bubble;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0.25;
    position: absolute;
    border-radius: 800px;
}

.bg-bubble .bubble-3 {
    width: 600px;
    height: 600px;
    top: 200px;
    margin-left: 200px;
    animation-delay: .4s;
    background-image: linear-gradient(#4788ff 0%, #fff 45%);
    animation-name: jumbo-intro-bubble;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0.25;
    position: absolute;
    border-radius: 800px;
}

section .jb-center {
    animation-name: jumbo-intro;
    left: 50%;
    margin-left: -380px;
    position: absolute;
    animation-duration: 0.8s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
     transition: all 0.3s ease-out;
}

section .jb-right {
    animation-name: jumbo-right;
    animation-delay: 0.4s;
    top: 120px;
    right: -165px;
    transform: rotate(6deg) translateX(-280px);
    margin-left: 965px;
    margin-right: -180px;
    margin-top: 190px;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
     transition: all 0.3s ease-out;
     transition: 0.5s;
}

section .jb-left {
    animation-name: jumbo-left;
    animation-delay: 0.4s;
    top: 122px;
    left: -165px;
    transform: rotate(-10deg) translateX(280px);
}

.main{
    margin-top: 90px;
    min-height: 565px;
    background: linear-gradient(-180deg, #fff 0%, #e9eaf2 100%);
    overflow: hidden;
}

.main .beat
{
    font-size: 17px;
    color: #757f8d;
    text-align: center;
    margin: 10px 0 0;
    font-family: sans-serif;
    margin-top: 20px;
    letter-spacing: .5px;
}

/*/*End Bubbles Section*/

#started{
    background: #FBFDFF;
    padding: 120px;
    margin-top: -2px;
    position: relative;
}

#started .in{
    font-size: 22px;
    color: #233650c9;
    text-align: center;
    line-height: 1.5;
    font-weight: 300;
    margin: 0px 0 15px;
    font-family: sans-serif;
    margin-top: -70px;
}

#started form,
.bottom form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    background: #ffffff;
    border: 1px solid #dfe5f2;
    box-shadow: 0 0 24px 0 rgba(26,59,127,0.08);
    border-radius: 5px;
    padding: 12px;
    margin-right: 195px;
    margin-left: 198px;
}
#started form input,
.bottom form input {
    font-size: 16px;
    width: 500px;
    border: 0;
    padding: 16px;
    outline: none;
    font-family: sans-serif;
}
#started form button,
.bottom form button {
    background: #3778ff;
    box-shadow: 0 2px 8px 0 rgba(55,120,255,0.37);
    border-radius: 5px;
    border: 0;
    padding: 16px 25px;
    font-size: 16px;
    margin-left: 12px;
    color: #ffffff;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
    font-family: sans-serif;
}

#started .trust{
    font-size: 16px;
    color: #8f99a8;
    letter-spacing: 0;
    text-align: center;
    margin: 40px 0 10px;
    font-weight: 300;
    font-family: sans-serif;
}

#started .yet{
    max-width: 90%;
    filter: saturate(0);
    transition: 1s all;
    opacity: 0.8;
    margin-left: 160px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*End Section of started*/

#card{
/*  position: absolute;
    transform: translate(-50%,-50%);
    transform-style: preserve-3d;*/
    perspective: 600px;
    transition: 0.5s;
    cursor: pointer;
}

#card .sim{
    font-size: 32px;
    color: #102a43;
    text-align: center;
    line-height: 1.4;
    font-weight: 600;
    margin: 0 0 10px;
    font-family: sans-serif;
    margin-top: 160px;
}

#card span{
    display: block;
    font-size: 19px;
    color: #334e68;
    letter-spacing: 0;
    text-align: center;
    line-height: 1.4;
    font-weight: 400;
    margin: 0 0 10px;
    font-family: sans-serif;
    margin-bottom: 130px;
}

/*Card one Startrt*/

.card .front .imeg
{
    border: 2px solid #eee;
    border-color: rgba(55,120,255,0.1);
    width: 192px;
    padding: 50px 65px 100px 90px;
    margin-left: 120px;
    border-radius: 10px;
    margin-top: 200px;
    position: absolute;
    top: 100px;
    left: 0;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    transition: 0.5s;
}

.card:hover .front .imeg
{
    transform: rotateY(180deg);
    border-color: 004be79c;
}

.card .back
{
    border: 2px solid #eee;
    border-color: rgba(55,120,255,0.1);
    width: 192px;
    padding: 50px 65px 89px 90px;
    margin-left: 120px;
    border-radius: 10px;
    margin-top: 200px;
    position: absolute;
    top: 100px;
    left: 0;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: 0.5s;
}

.card:hover .back
{
    transform: rotateY(0deg);
    border-color: #004be79c;
    box-shadow: 1px 1px 10px 10px rgba(4, 4, 4, 0.03);
}

.card .back .details ul
{
    width: 100%;
    text-align: left;
    min-height: 300px;
    margin: 30px 0 0;
    text-decoration: none;
}

.card .back .details ul li
{
    text-decoration: none;
    margin-left: -74px;
    font-family: sans-serif;
    line-height: 22px;
    letter-spacing: 0.5px;
    margin-top: 20px;
}

.card .back .details a
{
    text-decoration: none;
    color: #3778ff;
    font-family: sans-serif;
    background: rgba(55,120,255,0.1);
    font-weight: bold;
    padding: 15px 72px;
    margin-left: -48px;
    margin-right: -20px;
    border-radius: 5px;
    margin-top: 20px;
}

.card .back .details a:hover
 {
    background: #1884f04d;
}

.card .back .details strong
{
    font-size: 25px;
    margin: 25px 0 10px;
    display: block;
    font-weight: 600;
    color: #3778ff;
    font-family: sans-serif;
    margin-left: -30px;
    margin-right: -60px;
}

.card .front .imeg strong
{
    font-size: 25px;
    margin: 25px 0 10px;
    display: block;
    font-weight: 600;
    color: #3778ff;
    font-family: sans-serif;
    margin-left: -20px;
}

.card .front .imeg .has
{
    font-size: 17.5px;
    color: #303030c2;
    line-height: 1.8;
    font-weight: 300;
    font-family: sans-serif;
    text-align: center;
    margin-left: -57px;
    margin-right: -28px;
}
.card .front .imeg .summary:before
{
    content: "";
    position: absolute;
    width: 154px;
    height: 134px;
    top: 0px;
    right: -1px;
    border-radius: 213px 10px 252px 378px;
    z-index: -1;
    background: rgba(55,120,255,0.05);
}

/*Card one end*/

.card2 .front2 .imeg2
{
    border: 2px solid #eee;
    border-color: #faf2db;
    width: 192px;
    padding: 50px 65px 100px 90px;
    margin-left: 500px;
    border-radius: 10px;
    margin-top: 200px;
    position: absolute;
    top: 100px;
    left: 0;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    transition: 0.5s;
}

.card2:hover .front2 .imeg2
{
    transform: rotateY(180deg);
    border-color: 004be79c;
}

.card2 .back2
{
    border: 2px solid #eee;
    border-color: #FFC74F;
    width: 192px;
    padding: 50px 65px 89px 90px;
    margin-left: 500px;
    border-radius: 10px;
    margin-top: 200px;
    position: absolute;
    top: 100px;
    left: 0;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: 0.5s;
}

.card2:hover .back2
{
    transform: rotateY(0deg);
    border-color: #FFC74F;
    box-shadow: 1px 1px 10px 10px rgba(4, 4, 4, 0.03);
}

.card2 .back2 .details2 ul
{
    width: 100%;
    text-align: left;
    min-height: 300px;
    margin: 30px 0 0;
    text-decoration: none;
}

.card2 .back2 .details2 ul li
{
    text-decoration: none;
    margin-left: -74px;
    font-family: sans-serif;
    line-height: 22px;
    letter-spacing: 0.5px;
    margin-top: 20px;
}

.card2 .back2 .details2 a
{
    text-decoration: none;
    color: #FFC74F;
    font-family: sans-serif;
    background: #faaa0040;
    font-weight: bold;
    padding: 15px 72px;
    margin-left: -48px;
    margin-right: -20px;
    border-radius: 5px;
    margin-top: 20px;
}

.card2 .back2 .details2 a:hover
 {
    background: #faaa005c;
}

.card2 .back2 .details2 .yet
{
    font-size: 25px;
    margin: 25px 0 10px;
    display: block;
    font-weight: 600;
    color: #FFC74F;
    font-family: sans-serif;
    margin-left: -30px;
    margin-right: -60px;
}

.card2 .front2 .imeg2 .young
{
    font-size: 25px;
    margin: 25px 0 10px;
    display: block;
    font-weight: 600;
    color: #FFC74F;
    font-family: sans-serif;
    margin-left: -20px;
}

.card2 .front2 .imeg2 .has2
{
    font-size: 17.5px;
    color: #303030c2;
    line-height: 1.8;
    font-weight: 300;
    font-family: sans-serif;
    text-align: center;
    margin-left: -57px;
    margin-right: -28px;
}
.card2 .front2 .imeg2 .summary2:before
{
    content: "";
    position: absolute;
    width: 154px;
    height: 134px;
    top: 0px;
    right: -1px;
    border-radius: 213px 10px 252px 378px;
    z-index: -1;
    background: rgba(255,252,243,1);
}

/*Card Two End*/

.card3 .front3 .imeg3
{
    border: 2px solid #eee;    
    border-color: rgba(55,120,255,0.1);
    width: 192px;
    padding: 50px 65px 100px 90px;
    margin-left: 880px;
    border-radius: 10px;
    margin-top: 200px;
    position: absolute;
    top: 100px;
    left: 0;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    transition: 0.5s;
}

.card3:hover .front3 .imeg3
{
    transform: rotateY(180deg);    
    border-color: rgba(55,120,255,0.1);
}

.card3 .back3
{
    border: 2px solid #eee;
    border-color: rgba(55,120,255,0.1);
    width: 192px;
    padding: 50px 65px 89px 90px;
    margin-left: 880px;
    border-radius: 10px;
    margin-top: 200px;
    position: absolute;
    top: 100px;
    left: 0;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: 0.5s;
}

.card3:hover .back3
{
    transform: rotateY(0deg);
    border-color: #3778ff;
    box-shadow: 1px 1px 10px 10px rgba(4, 4, 4, 0.03);
}

.card3 .back3 .details3 ul
{
    width: 100%;
    text-align: left;
    min-height: 300px;
    margin: 30px 0 0;
    text-decoration: none;
}

.card3 .back3 .details3 ul li
{
    text-decoration: none;
    margin-left: -74px;
    font-family: sans-serif;
    line-height: 22px;
    letter-spacing: 0.5px;
    margin-top: 20px;
}

.card3 .back3 .details3 a
{
    text-decoration: none;
    color: #3778ff;
    font-family: sans-serif;
    background: rgba(55,120,255,0.1);
    font-weight: bold;
    padding: 15px 72px;
    margin-left: -48px;
    margin-right: -20px;
    border-radius: 5px;
    margin-top: 20px;
}

.card3 .back3 .details3 a:hover
 {
    background: #1884f04d;
}

.card3 .back3 .details3 .yet
{
    font-size: 25px;
    margin: 25px 0 10px;
    display: block;
    font-weight: 600;
    color: #1B8E52;
    font-family: sans-serif;
    margin-left: -30px;
    margin-right: -60px;
}

.card3 .front3 .imeg3 .young
{
    font-size: 25px;
    margin: 25px 0 10px;
    display: block;
    font-weight: 600;
    color: #1B8E52;
    font-family: sans-serif;
    margin-left: -20px;
}

.card3 .front3 .imeg3 .has3
{
    font-size: 17.5px;
    color: #303030c2;
    line-height: 1.8;
    font-weight: 300;
    font-family: sans-serif;
    text-align: center;
    margin-left: -57px;
    margin-right: -28px;
}
.card3 .front3 .imeg3 .summary3:before
{
    content: "";
    position: absolute;
    width: 154px;
    height: 134px;
    top: 0px;
    right: -1px;
    border-radius: 213px 10px 252px 378px;
    z-index: -1;
    background: rgba(55,120,255,0.05);
}

/*Card end*/


#new h2{
    margin-top: 800px;
    font-size: 33px;
    color: #102a43;
    text-align: center;
    line-height: 1.4;
    font-weight: 600;
    margin: 800px 0 10px;
    font-family: sans-serif;
}

#new span{
    display: block;
    font-size: 21px;
    color: #334e68;
    letter-spacing: 0;
    text-align: center;
    line-height: 1.4;
    font-weight: 400;
    margin: 0 0 10px;
    font-family: sans-serif;
}

#new #side{
    margin-top: 130px;
    margin-left: 150px;
}

#new .summara{
    content: "";
    position: absolute;
    width: 154px;
    height: 134px;
    top: 0px;
    right: -1px;
    border-radius: 213px 10px 252px 378px;
    z-index: -1;
    background: rgba(55,120,255,0.05);
}

#new .bol{
    background: #F7FAFF;
    border-radius: 40px;
    padding: 140px;
    content: "";
    border-radius: 213px;
    margin-left: 400px;
    margin-top: 63px;
    margin-right: 700px;
    margin-bottom: -350px; 
}

#new .column{
    margin-left: 760px;
    margin-top: -293px;
}

#new .column h3{
    font-size: 24px;
    color: #233650;
    font-family: sans-serif;
}

#new .column .line{
    border: 1px solid #C2D6FF;
    padding: 2px;
    margin-right: 545px;
    margin-left: 2px;
    margin-top: -14px;
    border-radius: 5px;
    background: #C2D6FF;
}

#new .column p{
    text-align: left;
    font-size: 18px;
    color: #303030;
    line-height: 1.6;
    font-weight: 300;
    font-family: sans-serif;
    margin-right: 100px;
}

#new .column a{
    font-weight: 300;
    text-decoration: none;
    color: #3778ff;
    font-family: sans-serif;
}

/*End This section*/

.color{
    background: #F7FAFF;
    margin-top: 200px;
    padding-top: 150px;
    padding-bottom: 50px;
}

.color h3{
    font-size: 24px;
    color: #233650;
    font-family: sans-serif;
    margin-left: 161px;
}
.color .line{
    border: 1px solid #C2D6FF;
    padding: 2px;
    margin-right: 1141px;
    margin-top: -14px;
    border-radius: 5px;
    background: #C2D6FF;
    margin-left: 163px;
}
.color p {
    text-align: left;
    font-size: 18px;
    color: #303030;
    line-height: 1.6;
    font-weight: 300;
    font-family: sans-serif;
    margin-left: 163px;
    margin-top: 35px;
    margin-right: 715px;
}
.color #sde
{
    margin-left: 800px;
    margin-top: -275px;
}

.color .bol{
    background: #EFF5FF;
    border-radius: 40px;
    padding: 140px;
    content: "";
    border-radius: 180px;
    margin-left: 698px;
    margin-right: 406px;
    margin-top: -333px;
    margin-bottom: 85px;
}

/*End Section*/

#new .remaining {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
}

#new .remaining h4 {
    flex-basis: 100%;
    margin: 30px 0;
    font-weight: 300;
    color: #868686;
    text-align: center;
    font-family: sans-serif;
    margin-top: 220px;
}

#new .remaining span {
    flex-basis: 21%;
    padding: 16px 0;
    font-family: sans-serif;
    font-size: 16px;
}

/*End Section*/

#cardes{
    background: #F6F8FC;
    padding-bottom: 140px;
    padding-top: 60px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

#cardes .are{
    font-size: 32px;
    color: #102a43;
    text-align: center;
    line-height: 1.4;
    font-weight: 600;
    margin: 0 0 10px;
    font-family: sans-serif;
}

#cardes .imagge img{
    width: 350px;
}

/*End Card section*/

.bottom h2{
    font-size: 28px;
    color: #102a43;
    text-align: center;
    line-height: 1.4;
    font-weight: 600;
    margin: 0 0 10px;
    font-family: sans-serif;
    margin-top: 100px;
}

.bottom h3{
    margin: 10px 0 40px;
    color: #405261;
    font-weight: 300;
    font-family: sans-serif;
    text-align: center;
    margin-top: 15px;
}

.bottom p {
    font-size: 14px;
    color: #b3b3b3;
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
}




.foot .col-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
}

.foot .brand {
    font-size: 16px;
    color: #909090;
    width: 360px;
    margin-bottom: 20px;
}

.foot .col-wrapper .brand .not{
    margin-left: -113px;
    margin-top: 5px;
}

.foot .brand span {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px 0 30px;
    display: inline-block;
    color: #6194ff;
  /*  margin-left: 110px;*/
    font-family: sans-serif;
}

.foot .brand {
    font-size: 16px;
    color: #909090;
    width: 360px;
    margin-bottom: 20px;
    font-family: sans-serif;
    margin-left: 110px;
}

.foot h4{
    cursor: pointer;
    position: relative;
    font-family: sans-serif;
}

.nav{
    margin-left: -38px;
}

.nav li{
    list-style: none;
    margin-top: 15px;
}

.nav li a{
    text-decoration: none;
    color: #909090;
    font-family: sans-serif;
}

.nav li a:hover{
    color: #1884f0f2;
}

/*.sidecircle
{
    border: 1px solid #0E5CFF;
    background: #0E5CFF;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    margin-left: 1230px;
    margin-right: 55px;
    margin-top: -83px;
    cursor: pointer;
}

.sidecircle i
{
    font-size: 40px;
    cursor: pointer;
    position: fixed;
}*/


/*Second Html Page*/

.container .body-auth{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    min-height: 700px;
    background: linear-gradient(-180deg, #f4f9ff 0, rgba(244,255,255,0) 620px);
    min-height: 100vh;
    margin-bottom: -50px;
    margin-top: -70px;
    padding-top: 70px;
    padding-bottom: 100px;
    position: relative;
}

.container .body-auth:before {
    content: "";
    display: block;
    position: absolute;
    top: 180px;
    left: 50%;
    width: 995px;
    height: 447px;
    z-index: 0;
    transform: translateX(-50%);
    background-image: url(https://announcekit.app/images/landing/bg-opacity.png);
    background-size: 100% 100%;
}

.container .body-auth .icon
{
    text-align: center;
    margin-top: 100px;
    font-size: 26px;
    color: #233650;
    letter-spacing: 0;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.body-auth .cols {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #2191aabd;
    width: 520px;
    padding: 20px;
    box-shadow: 0 4px 16px 0 rgba(55,120,255,0.08);
    border-radius: 10px;
    position: relative;
    margin-left: 395px;
}

.body-auth .cols .form-group .lable
{
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    display: block;
    margin-bottom: 0px;
    user-select: none;
    margin-left: 10px;
    margin-top: 7px;
    margin-bottom: 10px;
}


.body-auth .cols .form-group input
{
    margin-left: 10px;
    padding: 9px 286px 9px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: 1px solid #5AADC0;
}

.body-auth .cols .borrd .left .box{
    webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    border: 2px solid #fff;
    font-size: 1px;
    height: 24px;
    position: absolute;
    width: 24px;
    z-index: 1;
}

.body-auth .cols .borrd
{
    border-radius: 3px;
     box-shadow: 0 0 4px 1px rgba(0,0,0,0.08); 
    -webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,0.08);
    -moz-box-shadow: 0 0 4px 1px rgba(0,0,0,0.08);
    border: 1px solid #F9F9F9;
    background: #F9F9F9;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-top: 20px;
}
.body-auth .cols .borrd .left
{
    margin-left: 17px;
}
.body-auth .cols .borrd .left p
{
    margin-left: 40px;
    margin-right: 80px;
    font-family: Roboto,helvetica,arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.body-auth .cols .borrd .right p{
    cursor: default;
    font-family: Roboto,helvetica,arial,sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    text-align: center;
    color: #555;
    margin-left: 23px;
    margin-top: 0px;
}

.body-auth .cols .borrd .right .rc-anchor-pt a{
    color: #555;
    text-decoration: none;
    font-size: 10px;
}

.body-auth .cols .borrd .right .rc-anchor-pt
{
    margin-top: -13px;
    margin-left: 27px;
    margin-right: 9px;
}

.body-auth .cols .last-thing .btn{
    font-family: "Inter", sans-serif;
    display: inline-block;
    background: #3778ff;
    border: 0;
    border-radius: 6px;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
    padding: 13px 172px;
    outline: 0;
    cursor: pointer;
    font-weight: 500;
    transition: 0.1s linear all;
    width: 100%;
    margin-top: 40px;
    margin-left: 12px;
}

.feedback .nolt-feedback-button{
    --shadow-color: rgba(0,0,0,0.25);
    display: inline-flex;
    background: #fd6a65;
    border-radius: 4px;
    color: #fff;
    font: normal normal 500 13px/1.2 Helvetica Neue,Arial,sans-serif;
    padding: 6px 10px;
    white-space: nowrap;
    outline: 0;
    text-decoration: none;
    text-shadow: .05em 0 var(--shadow-color),0 .05em var(--shadow-color),-.05em 0 var(--shadow-color),0 -.05em var(--shadow-color);
}

.feedback .nolt-feedback-button:before{
    content: " ";
    display: inline-block;
    position: relative;
    top: 1px;
    margin-right: 6px;
    background: transparent 0 0 no-repeat;
    background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI0ZGRiIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAwaDEydjEySDB6Ii8+PHBhdGggZmlsbC1vcGFjaXR5PSIuOCIgZD0iTTEyIDBoMTJ2MTJIMTJ6Ii8+PHBhdGggZmlsbC1vcGFjaXR5PSIuNiIgZD0iTTEyIDEyaDEydjEySDEyeiIvPjwvZz48L3N2Zz4=);
    background-size: 13px 13px;
    height: 13px;
    width: 13px;
}

/*Media Section Start here*/

@media screen and (min-width: 2506px){
    .sec a{
        margin-left: 1100px;
    }
    .card3 .front3 .imeg3 
    {
        margin-left: 1600px;
    }
    .card2 .front2 .imeg2
    {
        margin-left: 1070px;
    }
    .card .front .imeg
    {
        margin-left: 530px;
    }
    #started form
    {
        margin-right: 840px;
        margin-left: 835px;
    }
    #started .yet 
    {
        margin-left: 728px;
        margin-top: 33px;
    }
    #cardes .imagge
    {
        margin-left: 573px;
    } 
    #cardes .svges
    {
        margin-left: 595px;
    }
    .topnav
    {
        margin-top: 40px;
        margin-left: 715px;
    }
    .topnav .topav
    {
        margin-right: -430px;
    }
    #set .main .hero .jb-left
    {
        margin-left: 400px;
    }
    #new .bol 
    {
        margin-left: 687px;
        margin-right: 1493px;
    }
    #new #bol
    {
        margin-right: 1869px;
    } 
    #new #side
    {
        margin-left: 444px;
    }
    #new .column h3
    {
        margin-left: 750px;
    }
    #new .column .line
    {
        margin-left: 750px;
        margin-right: 940px;
    }
    #new .column p
    {
        margin-left: 750px;
        margin-right: 521px;
    }
    #new .column a
    {
        margin-left: 750px;
    }
    .color .bol
    {
        margin-left: 1492px;
        margin-right: 695px;
        margin-top: -300px;
    }
    .color #sde
    {
        margin-left: 1594px;
    }
    .color h3
    {
        margin-left: 462px;
    }
    .color .line
    {
        margin-left: 462px;
        margin-right: 1985px;
    }
    .color p
    {
        margin-left: 462px;
        margin-right: 1475px;
    }
    .body-auth .cols
    {
        margin-left: 972px;
        margin-top: 60px;
    }
    .sec
    {
        margin-left: 40px;
    } 
}


   
